<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application>
        <activity android:name=".activity.ContohActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ActivityDetailEvent"/>
        <activity android:name=".activity.ActivityListEvent"/>
    </application>

</manifest>