<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--Permission For Get Location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyApplication"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".activity.ActivityIntro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityLogin"/>
        <activity android:name=".activity.ActivityRegister"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ActivityPostThreads"/>
        <activity android:name=".activity.ActivityPostReport"/>
        <activity android:name=".activity.ChatActivity"/>
        <activity android:name=".activity.ActivityListThreads"/>
        <activity android:name=".activity.ActivityListArticle"/>
        <activity android:name=".activity.ActivityDetailThreads"/>
        <activity android:name=".activity.ActivityDetailReport"/>
        <activity android:name=".activity.ActivityDetailArticle"/>
        <activity android:name=".activity.ActivityListReport"/>
        <activity android:name=".activity.ActivityEditProfile"/>
        <activity android:name=".activity.ActivityListChatRoom"/>
        <activity android:name=".activity.ActivityListCounselor"/>
        <activity android:name=".activity.ActivityThreadsNew"/>





    </application>

</manifest>